# Hoisting
shamefully-hoist=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# Strict peer dependencies
strict-peer-dependencies=false
auto-install-peers=true

# Performance
prefer-frozen-lockfile=false
enable-pre-post-scripts=true

# Registry
registry=https://registry.npmjs.org/
